{% extends 'base.html' %}
{% block  title %}About{% endblock  title %}
{% block body %}   
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h3>This is about page of my ToDos which I have created by using Flask and SQLAlchemy</h3>
    <ul>
        <li>First you can add any todos with description in the given space.</li>
        <li>Once you click submit it will reflect in the YoursToDo section.</li>
        <li>Further if you have entered any incorrect Todo, you can either update or delete the Todo.</li>
    </ul>
</body>
</html>
{% endblock body %}